body {
  background-image: url("slike/village.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: auto;
  position: relative;
  padding-top: 50%;
  background-color: black;
  background-size: cover;
}

#textbox {
  width: 1000px;
  height: 300px;
  background-color: #fff;
  position: absolute;
  top: 84%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  opacity: 0.3;
  border: solid black 5px;
}

#halfling {
  top: 15%;
  left: 15%;
  position: absolute;
  border: solid #fff 2px;
  visibility: hidden;
}

#wife {
  top: 15%;
  right: 220px;
  position: absolute;
  border: solid #fff 2px;
  visibility: hidden;
}

#elf {
  top: 15%;
  right: 220px;
  position: absolute;
  border: solid #fff 2px;
  visibility: hidden;
}

#dwarf {
  top: 15%;
  left: 15%;
  position: absolute;
  border: solid #fff 2px;
  visibility: hidden;
}

#dialogbox {
  top: 0;
  left: 415px;
  position: absolute;
  visibility: hidden;
}

#dialogbox3 {
  top: 0;
  right: 420px;
  position: absolute;
  visibility: hidden;
}

#story {
  top: 10%;
  left: 28%;
  background-color: #fff;
  border: solid black 5px;
  font-size: 33px;
  height: 180px;
  max-width: 600px;
  padding: 10px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
}
#story2 {
  top: 10%;
  left: 28%;
  background-color: #fff;
  border: solid black 5px;
  font-size: 30px;
  height: 180px;
  max-width: 600px;
  padding: 10px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  visibility: hidden;
  text-align: center;
}

#next {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
}

#next2 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next3 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next4 {
  top: 0;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next5 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next6 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next7 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}



#next10 {
  top: 48%;
  left: 47%;
  border: solid black 5px;
  font-size: 35px;
  height: 100px;
  width: 100px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  border-radius: 25px;
  cursor: pointer;
  visibility: hidden;
}

#next:hover {
  opacity: 0.7;
}

#next2:hover {
  opacity: 0.7;
}

#next3:hover {
  opacity: 0.7;
}

#next4:hover {
  opacity: 0.7;
}

#next5:hover {
  opacity: 0.7;
}

#next6:hover {
  opacity: 0.7;
}

#next7:hover {
  opacity: 0.7;
}





#text {
  font-size: 50px;
  font-family: fantasy;
  top: 5%;
  left: 500px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}

#text2 {
  font-size: 50px;
  font-family: fantasy;
  top: 2%;
  right: 460px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}

#text3 {
  font-size: 25px;
  font-family: fantasy;
  top: 5%;
  left: 470px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}
#text4 {
  font-size: 24px;
  font-family: fantasy;
  top: 3%;
  right: 450px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}

#text5 {
  font-size: 40px;
  font-family: fantasy;
  top: 35px;
  right: 550px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}

#text6 {
  font-size: 24px;
  font-family: fantasy;
  top: 25px;
  left: 460px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}

#text7 {
  font-size: 25px;
  font-family: fantasy;
  top: 25px;
  left: 460px;
  position: absolute;
  max-width: 300px;
  visibility: hidden;
}



#option1 {
  top: 69%;
  left: 23%;
  border: solid black 5px;
  font-size: 18px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option2 {
  top: 69%;
  left: 55%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option3 {
  top: 87%;
  left: 23%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option4 {
  top: 87%;
  left: 55%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option1:hover {
  opacity: 0.7;
}

#option2:hover {
  opacity: 0.7;
}

#option3:hover {
  opacity: 0.7;
}

#option4:hover {
  opacity: 0.7;
}

#option1_2 {
  top: 69%;
  left: 23%;
  border: solid black 5px;
  font-size: 18px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option2_2 {
  top: 69%;
  left: 55%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option3_2 {
  top: 87%;
  left: 23%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option4_2 {
  top: 87%;
  left: 55%;
  border: solid black 5px;
  font-size: 20px;
  height: 100px;
  width: 300px;
  max-width: 300px;
  font-family: fantasy;
  position: absolute;
  visibility: hidden;
  cursor: pointer;
}

#option1_2:hover {
  opacity: 0.7;
}

#option2_2:hover {
  opacity: 0.7;
}

#option3_2:hover {
  opacity: 0.7;
}

#option4_2:hover {
  opacity: 0.7;
}
